<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="logo" routerLink="/">Corporate Memory</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              (click)="toggleNavbar()"
              routerLink="/profile"
              *ngIf="auth.isAuthenticated()"
              routerLinkActive="active"
              >Profile
            </a>
          </li>

          <li class="nav-item">
            <a
              (click)="toggleNavbar()"
              (click)="auth.login()"
              *ngIf="!auth.isAuthenticated()"
              routerLinkActive="active"
              >Login
              <div class="showLoggedOut" *ngIf="!auth.isAuthenticated()"></div>
            </a>
          </li>
          

          <li class="nav-item">
            <a
              (click)="toggleNavbar()"
              (click)="auth.logout()"
              *ngIf="auth.isAuthenticated()"
              routerLinkActive="active"
              >Log-Out
              <div class="showLoggedIn" *ngIf="auth.isAuthenticated()"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<nav class="header">
  <a class="logo" routerLink="/">Corporate Memory</a>
  <!-- <a routerLink="/" routerLinkActive="active">Home </a> -->
  <div class="header-right">
    <a
      (click)="toggleNavbar()"
      routerLink="/profile"
      *ngIf="auth.isAuthenticated()"
      routerLinkActive="active"
      >Profile
    </a>

    <a
      (click)="toggleNavbar()"
      (click)="auth.login()"
      *ngIf="!auth.isAuthenticated()"
      routerLinkActive="active"
      >Login
      <div class="showLoggedOut" *ngIf="!auth.isAuthenticated()"></div>
    </a>

    <a
      (click)="toggleNavbar()"
      (click)="auth.logout()"
      *ngIf="auth.isAuthenticated()"
      routerLinkActive="active"
      >Log-Out
      <div class="showLoggedIn" *ngIf="auth.isAuthenticated()"></div>
    </a>
  </div>
</nav>
