.memories-wrapper {
  background-color: aqua;
  overflow-y: auto;
  height: 58vh;
}

.memory-wrapper {
  padding: 1em;
  margin-top: 1em;
  background-color: #f1f1f1;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
.tag-wrapper {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.tag {
  border: red 1px solid;
}
