<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create a Memory</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-post-memory></app-post-memory>
  </div>
</ng-template>

<!-- spinner -->
<ng-container *ngIf="memories.length === 0">
  <div class="spinner-wrapper">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-container>

<div [collapse]="isCollapsed" [isAnimated]="true">
  <!-- TAG FORM -->
  <div *ngIf="displayTagForm">
    <div *ngFor="let item of formArray">
      <div class="form-inner-wrapper">
        <div>
          <button class="btn btn-outline-secondary" (click)="closeTag()">
            X
          </button>
        </div>
        <div>
          <form
            [formGroup]="tagForm"
            (ngSubmit)="handleTag(tagForm, inputValue.value)"
          >
            <input
              type="text"
              name="id"
              value="{{ item.id }}"
              #inputValue
              hidden
            />
            <div class="form-group">
              <label>Add a TAG</label>
              <input
                type="text"
                class="form-control"
                formControlName="tagName"
                placeholder="Tag"
              />
            </div>
            <button class="btn btn-outline-primary" type="submit">
              SubmitTag
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="form-wrapper">
    <!-- EDIT FORM -->
    <div *ngIf="displayEditForm">
      <div *ngFor="let item of formArray">
        <div class="form-inner-wrapper">
          <div>
            <button class="btn btn-outline-secondary" (click)="closeEditForm()">
              X
            </button>
          </div>
          <div>
            <form #myForm>
              <input type="text" name="id" value="{{ item.id }}" hidden />
              <div class="form-group">
                <label>Title</label>
                <input
                  class="form-control"
                  type="text"
                  name="title"
                  value="{{ item.title }}"
                />
              </div>

              <div class="form-group">
                <label>Memory</label>
                <textarea
                  class="form-control"
                  type="text"
                  name="memory"
                  rows="5"
                  value="{{ item.memory }}"
                ></textarea>
              </div>

              <div class="form-group">
                <label>Due Date</label>
                <input
                  class="form-control"
                  type="text"
                  name="dueDate"
                  value="{{ item.dueDate }}"
                  bsDatepicker
                  [bsConfig]="{ isAnimated: true }"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                />
              </div>

              <button
                class="btn btn-outline-primary"
                (click)="handleEdit(myForm)"
              >
                UPDATE
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Memories -->
<div *ngIf="memories.length > 0">
  <div class="pulse-wrapper">
    <app-pulsating-circle *ngIf="!countDownNumber"></app-pulsating-circle>
    <div>
      <div
        *ngIf="countDownNumber"
        class="badge"
        [ngClass]="{
        'badge-success': countDownNumber >= 8, 
        'badge-warning': countDownNumber <= 7 
      }"
      >
        Polling will resume in about {{countDownNumber}} seconds.
      </div>
    </div>
  </div>

  <div class="summary-wrapper">
    <span>
      [{{numberOfMemories}}] memories.
    </span>

    <span>
      You have a memory due
      <span class="badge badge-pill badge-info"
        >{{nearestToDueDate | timeTo}}</span
      >
    </span>
  </div>
  <div class="search-wrapper">
    <!-- Create memory Button -->
    <div class="search-input-wrapper">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="openModal(template)"
      >
        Create A memory
      </button>
    </div>

    <div class="arrow-wrapper">
      <div class="arrow-text-spacer small-text">
        DUE DATE
      </div>
      <div>
        <div class="arrow-inner-wrapper">
          <a (click)="sortType('dueDate_up')" *ngIf="!showFilterArrows">
            <div class="arrow-up"></div>
          </a>
          <a (click)="sortType('dueDate_down')" *ngIf="!showFilterArrows">
            <div class="arrow-down"></div>
          </a>
        </div>
      </div>
    </div>

    <!-- Search Input -->
    <div class="search-input-wrapper">
      <input
        class="form-control"
        type="text"
        placeholder="Search Title or Memory"
        [(ngModel)]="searchTerm"
        (keyup)="onSearch($event)"
      />
    </div>
  </div>

  <div class="memories-wrapper">
    <div
      class="memory-wrapper"
      *ngFor="let item of memories | memorySearch: searchTerm"
    >
      <div class="tag-wrapper">
        <!-- <button
          class="btn btn-sm btn-outline-secondary"
          (click)="showTagForm()"
          [disabled]="disableTagButton"
        >
          ADD TAG XXX
        </button> -->

        <div class="tagS-wrapper">
          <div *ngFor="let tag of tags">
            <ng-container *ngIf="item.id === tag.memoryId">
              <div>
                <span class="badge badge-pill badge-success">
                  {{ tag.tagName }}
                </span>
                <span class="delete-tag" (click)="deleteTag(tag.id)">X</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <ng-template
        *ngIf="item.dueDate !== '0000-00-00'; then content; else other_content"
      ></ng-template>
      <ng-template #content>
        <p class="medium-text">
          <span [ngClass]="{ reminder: item.dueDate < now }">
            Due {{ item.dueDate | timeTo }}
          </span>
        </p></ng-template
      >
      <ng-template #other_content>
        <p class="small-text">
          No reminder set
        </p>
      </ng-template>
      <hr />
      <h1 class="heading">{{ item.title }}</h1>
      <p>{{ item.memory }}</p>

      <ng-container *ngIf="item.dueDate !== '0000-00-00'">
        <div class="form-check">
          <input
            #formData
            class="form-check-input"
            type="checkbox"
            [checked]="item.reminder === '1'? true : false"
            #defaultCheck1
            (click)="reminder(item.id, item.reminder)"
          />
          <label class="form-check-label">
            reminder set
          </label>
        </div>

        <p>Reminder VALUE : {{item.reminder}}{{reminderChecked}}</p>
      </ng-container>

      <hr />
      <div class="button-wrapper">
        <button class="btn btn-outline-warning" (click)="showEditForm(item)">
          EDIT
        </button>
        <button class="btn btn-outline-danger" (click)="deleteMemory(item.id)">
          DELETE
        </button>
      </div>
      <small class="small-text"> {{ item.posted }}</small>
    </div>
  </div>
</div>
